<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Novosadski bioskopi</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo_div">
                <img src="/images/logo_stari.png" alt="">
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a th:href="${'/'}">Početna</a></li>
                    <li><a th:href="${'/admin_bioskopi'}">Bioskopi</a></li>
                    <li><a th:href="${'/admin_menadzeri'}">Menadzeri</a></li>
                    <li><a th:href="${'/odjava'}">Odjava</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <h1 id="film"><br>Novosadski bioskopi<br><br></h1>
    <h2>Bioskopi:<br><input type="button"
         value="Dodaj bioskop"
         onclick="location.href='/admin_button_dodaj_bioskop'" /><br></h2>

    <table id="movies">
        <tr>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Broj telefona</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="bioskop : ${bioskopi}">
            <td th:text="${bioskop.naziv}"></td>
            <td th:text="${bioskop.adresa}"></td>
            <td th:text="${bioskop.br_telefona}"></td>
            <td th:text="${bioskop.email}"></td>
            <td><a th:href="@{/admin_izmeni_bioskop/{id}(id=${bioskop.id})}">Izmeni</a></td>
            <td><a th:href="@{/admin_obrisi_bioskop/{id}(id=${bioskop.id})}">Obriši</a></td>
        </tr>
    </table>

</body>
</html>