<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Novosadski bioskopi</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo_div">
                <img src="/images/logo_stari.png" alt="">
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a th:href="${'/'}">Početna</a></li>
                    <li><a th:href="${'/admin_bioskopi'}">Bioskopi</a></li>
                    <li><a th:href="${'/admin_menadzeri'}">Menadzeri</a></li>
                    <li><a th:href="${'/odjava'}">Odjava</a></li>
                </ul>
            </div>
        </div>
    </nav>
    

    <h1 id="film"><br>Dodaj bioskop<br><br></h1>

<center>
    <form method="post" th:action="@{/admin_izmeni_bioskop_post}" th:object="${bioskop}" class="forma">
        <label for="naziv">Naziv: </label>
        <input type="text" id="naziv" th:field="*{naziv}" value="no_change"/>
        <br/>
        <label for="adresa">Adresa: </label>
        <input type="text" id="adresa" th:field="*{adresa}" value="no_change"/><br/><br>
        <label for="br_telefona">Broj telefona: </label>
        <input type="text" id="br_telefona" th:field="*{br_telefona}" value="no_change"/><br/><br>
        <label for="email">Email: </label>
        <input type="text" id="email" th:field="*{email}" value="no_change"/>
        <label for="id">ID: </label>
        <input type="text" id="id" th:field="*{id}" value="${id}" readonly />
        <br/><br>
        <input class="btn" type="submit" value="Potvrda">
                
    </form>
    
    
</center>


</body>
</html>