<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Novosadski bioskopi</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo_div">
                <img src="/images/logo_stari.png" alt="">
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a th:href="${'/'}">Početna</a></li>
                    <li><a th:href="${'/admin_bioskopi'}">Bioskopi</a></li>
                    <li><a th:href="${'/admin_menadzeri'}">Menadzeri</a></li>
                    <li><a th:href="${'/odjava'}">Odjava</a></li>
                </ul>
            </div>
        </div>
    </nav>
    

    <h1 id="film"><br>Novosadski bioskopi<br><br></h1>
    <h2>Menadžeri:<br><br><br></h2>
    
    <table id="movies">
        <tr>
            <th>Uloga</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Korisnicko ime</th>
            <th>Potvrđena registracija</th>
            <th></th>
        </tr>
        <tr th:each="korisnik : ${korisnici}">
            <td th:text="${korisnik.uloga}"></td>
            <td th:text="${korisnik.ime}"></td>
            <td th:text="${korisnik.prezime}"></td>
            <td th:text="${korisnik.korisnicko_ime}"></td>
            <td th:text="${korisnik.approved} ? 'DA' : 'NE'"></td>
            <td><a th:href="@{/obrisi_menadzera/{id}(id=${korisnik.id})}">Obriši</a></td>
        </tr>    
        
    
    </table>
    
    
</body>
</html>