<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Novosadski bioskopi</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo_div">
                <img src="/images/logo_stari.png" alt="">
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a th:href="${'/'}">Početna</a></li>
                    <li><a th:href="${'/filmovi'}">Filmovi</a></li>
                    <li><a th:href="${'/prijava'}">Prijava</a></li>
                    <li><a th:href="${'/registracija'}">Registracija</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <h1 id="film"><br>Filmovi<br><br></h1>

    <table id="movies">
        <tr>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Zanr</th>
            <th>Trajanje</th>
            <th>Prosečna ocena</th>
        </tr>
        <tr th:each="film : ${filmovi}">
            <td th:text="${film.naziv}"></td>
            <td th:text="${film.opis}"></td>
            <td th:text="${film.zanr}"></td>
            <td th:text="${film.trajanje}"></td>
            <td th:text="${film.prosecna_ocena}"></td>        
        </tr>    
        
    </table>
    
    
</body>
</html>