<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Novosadski bioskopi</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo_div">
                <img src="/images/logo_stari.png" alt="">
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a th:href="${'/'}">Početna</a></li>
                    <li><a th:href="${'/filmovi'}">Filmovi</a></li>
                    <li><a th:href="${'/profil'}">Profil</a></li>
                    <li><a th:href="${'/pregled_rezervacija'}">Rezervacije</a></li>
                    <li><a th:href="${'/odjava'}">Odjava</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <h1 id="film"><br>Filmovi<br><br></h1>

    <table id="movies">
        <tr>
            <th>Naziv</th>
            <th>Opis</th>
            <th>Zanr</th>
            <th>Trajanje</th>
            <th>Prosečna ocena</th>
            <th>Cena</th>
            <th>Datum i vreme</th>
            <th>Bioskop</th>
        </tr>
        <tr th:each="projekcija : ${[projekcije]}">
            <td th:text="${projekcija.film.naziv}"></td>
            <td th:text="${projekcija.film.opis}"></td>
            <td th:text="${projekcija.film.zanr}"></td>
            <td th:text="${projekcija.film.trajanje}"></td>
            <td th:text="${projekcija.film.prosecna_ocena}"></td> 
            <td th:text="${projekcija.cena}"></td> 
            <td th:text="${projekcija.datumvreme}"></td> 
            <td th:text="${projekcija.bioskop.naziv}"></td> 
            
        </tr>    
        
        
        
    </table>
    <center><br><br>
        <form th:action="@{/gledalac_sortiraj}" th:object="${sort}" method="post" class="forma">
			<label for="sortiranje">Sortiranje:</label>
            <select type="text" th:field="*{sort}">
                <option value="1">Opadajuće cene</option>
                <option value="2">Rastuće cene</option>
            </select>
            <br>
			 <input type="submit" value = "Sortiraj">
		</form>
    <h2>Pretraga:</h2><br>
        <form method="post" th:action="@{/gledalac_filmovi_pretraga}" th:object="${pretraga_string}" class="forma">
            <label for="naziv">Naziv: </label>
            <input type="text" name="naziv" th:field="*{naziv}">
            <label for="opis">Opis: </label>
            <input type="text" name="opis" th:field="*{opis}">
            <label for="zanr">Žanr: </label>
            <input type="text" name="zanr" th:field="*{zanr}">
            <label for="cena">Najveće cena: </label>
            <input type="number" name="cena" th:field="*{cena}">
            <label for="ocena">Najmanja prosečna ocena: </label>
            <input type="number" step="0.01" name="Ocena" th:field="*{ocena}">
            <label for="vreme">Vreme projekcije: </label>
            <input style="text-align: center" type="datetime-local" name="vreme" th:field="*{vreme}">
            <input type="submit" value="Pretraži">

        </form>
    </center>
    <br><br><br><br>
        
</body>
</html>