<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="widht=device-width, initial-scale = 1.0"/>
        <title>Novosadski bioskopi</title>
        <link href="../static/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <!--<header>
            <img src="images/logo.png" />
        </header>-->
        <nav>
            <div class="logo">
                <img src="../static/images/logo.png">
            </div>
            <div class="navbar_links">
                <ul>
                    <li><a href="#">Početna</a></li>
                    <li><a href="#">Naši bioskopi</a></li>
                    <li><a href="#">Filmovi</a></li>
                    <li><a href="#">O nama</a></li>
                    <li><a href="#">Prijavite se</a></li>
                </ul>
            </div>
        
        </nav>
        <main>
            <section>
                <h2>Naslov sekcije 1</h2>
            </section>
            <section>
                <h2>Naslov sekcije 2</h2>
            </section>
        </main>
    </body>
</html>