<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Novosadski bioskopi</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo_div">
                <img src="/images/logo_stari.png" alt="">
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a th:href="${'/'}">Početna</a></li>
                    <li><a th:href="${'/filmovi'}">Filmovi</a></li>
                    <li><a th:href="${'/prijava'}">Prijava</a></li>
                    <li><a th:href="${'/registracija'}">Registracija</a></li>
                </ul>
            </div>
        </div>
    </nav>
    

    <h1 id="film"><br>Novosadski bioskopi<br><br></h1>
    <center><h2>Dobrodošli na stranicu novosadskih bioskopa!</h2></center>
    <div id="pocetni_sadrzaj">
    
    </div>
    
</body>
</html>