<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Novosadski bioskopi</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo_div">
                <img src="/images/logo_stari.png" alt="">
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a th:href="${'/menadzer_index'}">Početna</a></li>
                    <li><a th:href="@{/menadzer_bioskopi/{id}(id=${menadzer.id})}">Bioskopi</a></li>
                    <li><a th:href="${'/odjava'}">Odjava</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 id="film"><br>Novosadski bioskopi<br><br></h1>
    <h2></h2><br>

    <center>
        <form method="post" th:action="@{/menadzer_dodaj_salu_upis/{id_mng}/{id_bio}(id_bio=${bioskop.id}, id_mng=${menadzer.id})}" th:object="${sala}" class="forma">
            <label for="naziv">Naziv: </label>
            <input type="text" id="naziv" th:field="*{naziv}" required/>
            <br/>
            <label for="kapacitet">Kapacitet: </label>
            <input type="text" id="kapacitet" th:field="*{kapacitet}" required/><br/><br>
            <input class="btn" type="submit" value="Potvrda">
        </form>
    
    
    </center>

</body>
</html>