<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Novosadski bioskopi</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo_div">
                <img src="/images/logo_stari.png" alt="">
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a th:href="${'/menadzer_index'}">Početna</a></li>
                    <li><a th:href="@{/menadzer_bioskopi/{id}(id=${menadzer.id})}">Bioskopi</a></li>
                    <li><a th:href="${'/odjava'}">Odjava</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 id="film"><br>Novosadski bioskopi<br><br></h1>
    <h2>Bioskopi:</h2><br>

    <table id="movies">
        <tr>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Broj telefona</th>
            <th>Email</th>
            <th></th>
        </tr>
        <tr th:each="bioskop : ${bioskopi}">
            <td th:text="${bioskop.naziv}"></td>
            <td th:text="${bioskop.adresa}"></td>
            <td th:text="${bioskop.br_telefona}"></td>
            <td th:text="${bioskop.email}"></td>
        </tr>
    </table><br><br>
    
    <!-- SALE -->
    
    <input type="button"
         value="Dodaj salu"
         th:onclick="location.href='/menadzer_button_dodaj_salu/'+${bioskop.id}" /><br>
    
    <tabel id="movies">
        <tr>
            <th>Naziv</th>
            <th>Kapacitet</th>
            <th></th>
        </tr>
        <tr th:each="sala : ${sale}">
            <td th:text="${sala.naziv}"></td>
            <td th:text="${sala.kapacitet}"></td>
            <td><a th:href="@{/menadzer_izmeni_salu/{id}(id=${sala.id})}">Izmeni salu</a></td>
        </tr>
    </tabel>

</body>
</html>