<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Novosadski bioskopi</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<nav>
    <div class="container">
        <div class="logo_div">
            <img src="/images/logo_stari.png" alt="">
        </div>
        <div class="navbar">
            <ul class="menu">
                <li><a th:href="${'/'}">Početna</a></li>
                <li><a th:href="${'/gledalac_filmovi'}">Filmovi</a></li>
                <li><a th:href="${'/profil'}">Profil</a></li>
                <li><a th:href="${'/pregled_rezervacija'}">Pregled rezervacija</a></li>
            </ul>
        </div>
    </div>
</nav>

<center>
    <h1><br>Pregled rezervacija<br><br></h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Naziv</th>
            <th>Cena</th>
            <th>Vreme</th>
            <th>Bioskop</th>
            <th>Otkazi rezervaciju</th>

        </tr>

        <tr th:each="rezervacija : ${rezervacije}">
            <td th:text="${rezervacija.id}"></td>
            <td th:text="${rezervacija.film.naziv}"></td>
            <td th:text="${rezervacija.cena}"></td>
            <td th:text="${rezervacija.datumvreme}"></td>
            <td th:text="${rezervacija.bioskop.naziv}"></td>
            <td><a th:href="${'/otkazi-rezervaciju/' + rezervacija.id}">Otkaži rezervaciju</a></td>

        </tr>
    </table>
	</center>

</body>
</html>