<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Novosadski bioskopi</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo_div">
                <img src="/images/logo_stari.png" alt="">
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a th:href="${'/'}">Početna</a></li>
                    <li><a th:href="${'/filmovi'}">Filmovi</a></li>
                    <li><a th:href="${'/prijava'}">Prijava</a></li>
                    <li><a th:href="${'/registracija'}">Registracija</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
<h1 id="film"><br>Prijava<br><br></h1>

    <center>
        <form th:action="@{/authentication}" th:object="${trenutniKorisnik}" method="post" class="forma">
            <label for="korisnicko_ime">Korisničko ime  </label>
            <input type="text" placeholder="Unesite korisničko ime" id="korisnicko_ime" th:field="*{korisnicko_ime}" required/><br>

            <label for="lozinka">Lozinka  </label>
            <input type="password" placeholder="Unesite lozinku" id="lozinka" th:field="*{lozinka}"  required>

            <button onclick="location.href =/authentication'">Prijavi se</button>
            
            <div th:if="${#bools.isTrue(pass_check)}">
                <div style="color: red">
                    <br>Pogrešno korisničko ime ili lozinka.
                </div>
            </div>

        </form>
    </center>

</body>
</html>