<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Prikaz svih korisnika</title>
    <link rel="stylesheet" th:href="@{css/temp_style.css}">
    <meta charset="utf-8"/>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo_div">
                <img src="../static/images/logo_stari.png" alt="">
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a th:href="${'/'}">Početna</a></li>
                    <li><a th:href="${'/profil'}">Moj profil</a></li>
                    <li><a th:href="${'/prijava'}">Prijava</a></li>
                    <li><a th:href="${'/registracija'}">Registracija</a></li>
                    <li><a th:href="${'/dodaj_bioskop'}">Dodaj bioskop</a></li>
                </ul>
            </div>
        </div>
    </nav>

    
<h1><br>Registracija<br><br></h1>

<section>
    <h2>Unesite Vaše podatke:<br><br></h2>
    <form method="post" action="#" class="forma">
        <label for="ime">Ime: </label>
        <input type="text" placeholder="Unesite ime" name="ime" id="ime" required/>
        <br/>
        <label for="prezime">Prezime: </label>
        <input type="text" placeholder="Unesite prezime" name="prezime" id="ime" required/><br/>
        <label for="pass">Lozinka: </label>
        <input type="password" placeholder="Unesite lozinku" name="pass" id="pass" required/><br/>
        <label for="pass">Korisničko ime: </label>
        <input type="text" placeholder="Unesite korisničko ime" name="username" id="username" /><br/>
        <label for="izbor">Izaberite ulogu: </label>
        <select name="izbor" id="izbor" required="required" >
            <option value=""> --Vaš izbor-- </option>
            <option value="1">Gledalac</option>
            <option value="2">Menadžer</option>
            <option value="3">Administrator</option>
        </select>
        <br/>
        <input type="submit" value="Pošalji" th:href="${'/registruj'}"/>
    </form>
</section>


</body>
</html>