<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Prikaz svih korisnika</title>
    <link rel="stylesheet" th:href="@{css/temp_style.css}">
    <meta charset="utf-8"/>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo_div">
                <img src="../static/images/logo_stari.png" alt="">
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a th:href="${'/'}">Početna</a></li>
                    <li><a th:href="${'/profil'}">Moj profil</a></li>
                    <li><a th:href="${'/prijava'}">Prijava</a></li>
                    <li><a th:href="${'/registracija'}">Registracija</a></li>
                    <li><a th:href="${'/dodaj_bioskop'}">Dodaj bioskop</a></li>
                </ul>
            </div>
        </div>
    </nav>

    
<h1><br>Prikaz svih korisnika<br><br></h1>

<h2></h2>


</body>
</html>