<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Druga kontrolna tačka</title>
    <link rel="stylesheet" href="../static/css/temp_style.css">
    <meta charset="utf-8"/>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo_div">
                <img src="../static/images/logo_stari.png" alt="">
            </div>
            <div class="navbar">
                <ul class="menu">
                    <li><a th:href="${'/'}">Početna</a></li>
                    <li><a th:href="${'/profil'}">Moj profil</a></li>
                    <li><a th:href="${'/prijava'}">Prijava</a></li>
                    <li><a th:href="${'/registracija'}">Registracija</a></li>
                    <li><a th:href="${'/dodaj_bioskop'}">Dodaj bioskop</a></li>
                </ul>
            </div>
        </div>
    </nav>

    
<h1><br>Dobrodošli na 2. kontrolnu tačku studenta IN1/2018<br><br></h1>

<h2>Sve funkcionalnosti tražene za ovu kontrolnu tačku možete izabrati pomoću glavnog menija.</h2>


</body>
</html>